.wrapper {
    background-color: #3c4967;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 20px;
    box-sizing: border-box;
}

.rectangle {
    margin: 20% auto;
    width: 650px;
    height: 250px;
    background: inherit;
    border: 3px solid white;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.dataTypes:hover {
    transition: .45s;
    border-color: #FC0;
    text-shadow: #FC0 1px 0 4px;
}
.dataTypes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.dataTypes > input {
    margin-right: 25px;
}

#submitBtn {
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(26, 34, 52, 0.28);
    border: 1px solid wheat;
    border-radius: 5px;
    color: white;
    padding: 12px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}